@import url('fonts.css');
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
a,
.conteiner__video_play,
button,
.slide,
.slider__control,
.dots__dot,
.worked,
.clients__partner,
#nav__bars,
#nav_links a {
  cursor: pointer;
}
header,
a,
.conteiner__video_play,
button,
.slide,
.slider__control,
#works,
.quote,
.content__box,
.conteiner__video,
footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body,
header,
main,
footer,
#video,
.conteiner__video,
#expertise,
#teams,
.worksBlock,
#peopleSay,
.conteiner__navigation {
  width: 100%;
}
html {
  height: 100%;
  overflow-x: hidden;
}
header,
#video,
#teams,
#peopleSay,
.clients__partner_01,
.clients__partner_02,
.clients__partner_03,
.clients__partner_04,
.clients__partner_05,
.clients__partner_06,
.clients__partner_07,
.clients__partner_08,
.clients__partner_09,
.clients__partner_10,
.dots__dot_1,
.dots__dot_2,
.dots__dot_3,
.dots__dot_4,
.dots__dot_5 {
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
body {
  height: 100%;
  max-width: 2056px;
  background-color: white;
  overflow-x: hidden;
}
h1 {
  font-size: 34px;
  font-family: "PlayfairDisplay";
  color: #413d4b;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  height: 30px;
  text-transform: uppercase;
}
h1.size-2 {
  font-size: 22px;
  text-align: center !important;
}
h1.float {
  float: left;
  margin-top: 2px;
}
h1.no-uppercase {
  text-transform: none;
}
@media only screen and (max-width: 1024px) {
  h1.no-uppercase {
    width: 400px;
  }
}
@media only screen and (max-width: 640px) {
  h1.no-uppercase {
    width: 250px;
  }
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.571;
}
p.size-3 {
  font-size: 16px;
  text-align: center;
}
p.size-4 {
  font-size: 15px;
  margin-top: 13px;
  margin-bottom: 29px;
}
p.size-5 {
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.702) !important;
  margin-top: 2px;
  margin-bottom: 30px;
}
p.quote {
  font-size: 100px;
  line-height: 0.05;
  padding-top: 85px;
  margin-top: 13px;
  margin-bottom: 30px;
}
p.light {
  font-weight: 100;
}
p.light-t {
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(250, 250, 250, 0.702) !important;
}
p.bold {
  font-weight: 700;
  text-transform: uppercase;
}
p.p-expetise {
  margin-top: 76px;
  margin-bottom: 14px;
}
p.decoration {
  width: 740px;
  height: 100px;
  margin-bottom: 47px;
  color: rgba(255, 255, 255, 0.851) !important;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  p.decoration {
    width: auto;
  }
}
p.font {
  font-family: 'Playfair Display', serif;
}
p.pre {
  white-space: pre-wrap;
  -webkit-line-clamp: 11;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
p.conteiner__slider_p {
  margin: 50px auto 38px auto;
  position: relative;
  line-height: 1.714;
  text-align: center;
  width: 740px;
  min-width: 300px;
}
@media only screen and (max-width: 1024px) {
  p.conteiner__slider_p {
    width: 430px;
  }
}
@media only screen and (max-width: 640px) {
  p.conteiner__slider_p {
    width: 230px;
    padding: 0 15px;
    margin: 50px auto 10px auto;
  }
}
p.conteiner__slider_p::before {
  content: '';
  background-color: #7edfcf;
  position: absolute;
  top: -25px;
  width: 50px;
  height: 1px;
  left: calc(50% - 25px);
}
@media only screen and (max-width: 1024px) {
  p.conteiner__slider_p::before {
    top: -5px;
  }
}
@media only screen and (max-width: 640px) {
  p.conteiner__slider_p::before {
    width: 30px;
    left: calc(50% - 15px);
  }
}
p.decor {
  margin-top: -12px;
  margin-bottom: 67px;
  position: relative;
}
@media only screen and (max-width: 533px) {
  p.decor {
    margin-top: 10px;
  }
}
p.decor::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.702);
  position: absolute;
  top: 38px;
  width: 50px;
  height: 2px;
  left: calc(50% - 25px);
}
@media only screen and (max-width: 533px) {
  p.decor::before {
    top: 58px;
  }
}
h1,
p {
  text-align: center;
}
h1.size-1,
p.size-1 {
  font-size: 23px;
  height: 40px;
}
h1.white,
p.white {
  color: white;
}
h1.left,
p.left {
  text-align: left;
}
header {
  min-height: 670px;
  height: 100vh;
  background: url(../img/overlay_home.png), url(../img/background_home.png);
  background-size: 100%;
  background-size: cover;
}
#nav_links {
  padding-top: 30px;
  position: fixed;
  border-radius: 0 0 0 4px;
  top: 0;
  right: 20%;
  display: block;
  background-color: rgba(58, 46, 95, 0.7);
  width: 555px;
  height: 54px;
  z-index: 100;
}
@media only screen and (max-width: 1024px) {
  #nav_links {
    left: 0;
    display: none;
    width: 110px;
    height: 100vh;
  }
}
#nav_links a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  text-align: right;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  letter-spacing: 0.3px;
  margin: 0 12.5px;
}
@media only screen and (max-width: 1024px) {
  #nav_links a {
    display: block;
    text-align: right;
    padding: 10px 0;
  }
  #nav_links a:first-child {
    margin-top: 45px;
  }
}
#nav_links a:hover {
  color: #00e0d0;
}
#nav_links.open {
  display: block;
}
#nav__bars {
  display: none;
  position: fixed;
  left: 15px;
  top: 20px;
  z-index: 200;
  background-color: rgba(58, 46, 95, 0.7);
  padding: 5px 7px;
  border-radius: 4px;
}
@media only screen and (max-width: 1024px) {
  #nav__bars {
    display: inline-block;
  }
}
#nav__bars:hover .nav__bar_1,
#nav__bars:hover .nav__bar_2,
#nav__bars:hover .nav__bar_3 {
  background-color: #00e0d0;
}
#nav__bars.move {
  background-color: transparent;
}
#nav__bars.move .nav__bar_1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  -ms-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}
#nav__bars.move .nav__bar_2 {
  opacity: 0;
}
#nav__bars.move .nav__bar_3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  -ms-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
.nav__bar_1,
.nav__bar_2,
.nav__bar_3 {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
}
main,
.conteiner,
.conteiner_expertise,
.conteiner__slider,
.content__box,
.content,
.slider__item,
.dots,
.slider__control,
.conteiner_about,
.conteiner__video,
.teams,
.worksBlock,
#contact,
.slide,
.conteiner_peopleSay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main,
.conteiner__slider,
.content__box,
.conteiner__video,
.conteiner_expertise,
.conteiner_teams,
.conteiner_peopleSay,
.slider__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.conteiner_expertise,
.conteiner_wrap,
.teams,
.content,
.worksBlock,
#contact {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content__box,
.conteiner_about,
.conteiner__video,
.slider__item,
.dots,
.slider__control,
.worksBlock,
#contact {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
main,
.conteiner__slider,
.content__box,
.conteiner__logo_about,
.conteiner__video,
.slider__item,
.dots,
.slider__control,
.teams,
.worksBlock,
.conteiner_peopleSay {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main,
.conteiner__slider,
.content__box,
.conteiner_about,
.conteiner__video,
.teams,
.worksBlock,
#contact,
.dots,
.conteiner_peopleSay,
.slider__item {
  -ms-flex-line-pack: center;
  align-content: center;
}
body,
main,
.conteiner,
.conteiner_expertise,
.conteiner__slider,
.content__box,
#wrapper,
footer {
  margin: 0 auto;
}
.conteiner,
.conteiner_expertise,
#wrapper,
button,
.clients__partner,
.link {
  position: relative;
}
.conteiner,
.conteiner_expertise {
  width: 60%;
}
@media only screen and (max-width: 1524px) {
  .conteiner,
  .conteiner_expertise {
    width: 80%;
  }
}
@media only screen and (max-width: 1280px) {
  .conteiner,
  .conteiner_expertise {
    width: 90%;
  }
}
#slider-content {
  width: 800px;
  height: 325px;
  margin: 125px auto 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  #slider-content {
    width: 500px;
  }
}
@media only screen and (max-width: 640px) {
  #slider-content {
    width: 300px;
  }
}
.conteiner__slider {
  height: 500px;
  width: 792px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .conteiner__slider {
    width: 492px;
  }
}
@media only screen and (max-width: 640px) {
  .conteiner__slider {
    width: 292px;
  }
}
#itemOne,
#itemTwo,
#itemThree,
#itemFour {
  margin: 0 10px;
}
#wrapper {
  width: 3200px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  top: 10px;
  height: 650px;
  white-space: normal;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px) {
  #wrapper {
    width: 2000px;
  }
}
@media only screen and (max-width: 640px) {
  #wrapper {
    width: 1200px;
  }
}
.points {
  text-align: center;
  width: 550px;
}
.points ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 47px;
}
.points ul li {
  float: left;
  text-align: center;
  margin: 3px;
  list-style: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.points ul li:hover,
.points ul li.points__point_active {
  background-color: #7edfcf;
  border-color: #7edfcf;
}
.conteiner,
.conteiner_contacts {
  padding-right: 10px;
  padding-left: 10px;
}
.conteiner__footer {
  width: 31%;
  min-width: 265px;
  padding: 0 5px;
}
.conteiner__footer a {
  color: white;
}
.conteiner__footer:not(.conteiner__footer_margin) {
  margin-right: 30px;
}
@media only screen and (max-width: 10240px) {
  .conteiner__footer:not(.conteiner__footer_margin) {
    margin: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .conteiner__footer {
    margin: auto;
  }
}
#about {
  min-height: 402px;
}
.conteiner_about {
  margin-top: 70px;
}
@media only screen and (max-width: 640px) {
  .conteiner_about {
    margin-top: 30px;
  }
}
.conteiner__logo_about {
  height: 229px;
  width: 235px;
  margin: 0 100px 0 90px;
}
@media only screen and (max-width: 1024px) {
  .conteiner__logo_about > img {
    height: 160.3px;
    width: 164.5px;
  }
}
@media only screen and (max-width: 640px) {
  .conteiner__logo_about > img {
    height: 114.5px;
    width: 117.5px;
  }
}
@media only screen and (max-width: 1024px) {
  .conteiner__logo_about {
    margin: 0 40px 0 40px;
    height: 160.3px;
    width: 164.5px;
  }
}
@media only screen and (max-width: 640px) {
  .conteiner__logo_about {
    margin: 70px 20px 0 10px;
    height: 114.5px;
    width: 117.5px;
  }
}
#video {
  background: url(../img/overlay_about.png), url(../img/background_about.png);
  background-size: 100%;
  background-size: cover;
  height: 550px;
}
.conteiner__video {
  height: 555px;
}
.conteiner__video_play {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 3px solid white;
  background: url(../img/play.png) no-repeat 55% center;
  margin-bottom: 30px;
}
#expertise {
  min-height: 754px;
  padding-top: 70px;
}
.content {
  max-width: 910px;
  margin: 0 auto;
}
.content__box > .light {
  width: 260px;
}
.content__box_web,
.content__box_branding,
.content__box_search,
.content__box_game {
  border-right: 1px solid #ebebeb;
}
@media only screen and (max-width: 530px) {
  .content__box_web,
  .content__box_branding,
  .content__box_search,
  .content__box_game {
    border-right: none;
  }
}
.content__box_web,
.content__box_branding,
.content__box_mobile {
  border-bottom: 1px solid #ebebeb;
}
.content__box {
  padding-bottom: 7px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.33%;
  flex: 1 1 33.33%;
  min-width: 250px;
}
.content__box.content__box_web {
  background: url(../img/web.png);
  background-position: center 31px;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
}
.content__box.content__box_branding {
  background: url(../img/branding.png);
  background-position: center 31px;
  background-repeat: no-repeat;
  width: 310px;
  height: 250px;
}
@media only screen and (max-width: 800px) {
  .content__box.content__box_branding {
    border-right: none;
  }
}
.content__box.content__box_mobile {
  background: url(../img/mobile.png);
  background-position: center 31px;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
}
@media only screen and (max-width: 800px) {
  .content__box.content__box_mobile {
    border-right: 1px solid #ebebeb;
  }
}
@media only screen and (max-width: 530px) {
  .content__box.content__box_mobile {
    border-right: none;
  }
}
.content__box.content__box_search {
  background: url(../img/search.png);
  background-position: center 36px;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
}
@media only screen and (max-width: 800px) {
  .content__box.content__box_search {
    border-right: none;
    border-bottom: 1px solid #ebebeb;
  }
}
.content__box.content__box_game {
  background: url(../img/game.png);
  background-position: center 36px;
  background-repeat: no-repeat;
  width: 310px;
  height: 250px;
}
@media only screen and (max-width: 530px) {
  .content__box.content__box_game {
    border-bottom: 1px solid #ebebeb;
  }
}
.content__box.content__box_love {
  background: url(../img/love.png);
  background-position: center 36px;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
}
#teams {
  background: url(../img/overlay_team.png), url(../img/background_team.png);
  min-height: 712px;
  background-size: 100%;
  background-size: cover;
}
.conteiner_teams {
  margin-top: 69px;
}
.teams {
  margin-bottom: 57px;
}
.content__box_worked {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  min-width: 250px;
}
.conteiner__button_teams {
  margin-top: 25px;
  margin-bottom: 80px;
}
.worked {
  background-image: url(../img/staff.png);
  background-repeat: no-repeat;
  display: block;
  width: 215px;
  height: 224px;
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
  overflow: hidden;
}
.worked::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.worked:hover {
  -webkit-animation: color ease-in-out 0.85s forwards;
  animation: color ease-in-out 0.85s forwards;
}
.worked:hover::before {
  -webkit-animation: circle 0.85s;
  animation: circle 0.85s;
}
.worked.worked_01 {
  background-position: -2px -2px;
  width: 215px;
  height: 224px;
}
.worked.worked_02 {
  background-position: -221px -2px;
  width: 215px;
  height: 224px;
}
.worked.worked_03 {
  background-position: -440px -2px;
  width: 215px;
  height: 224px;
}
.worked.worked_04 {
  background-position: -659px -2px;
  width: 215px;
  height: 224px;
}
@-webkit-keyframes color {
  0% {
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
  }
  40% {
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
  }
  100% {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
@keyframes color {
  0% {
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
  }
  40% {
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
  }
  100% {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
@-webkit-keyframes circle {
  0% {
    opacity: 0.5;
    background: rgba(213, 186, 34, 0.3);
  }
  40% {
    opacity: 1;
    background: rgba(59, 49, 148, 0.3);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgba(213, 186, 34, 0.3);
  }
  40% {
    opacity: 1;
    background: rgba(59, 49, 148, 0.3);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.content__box__names {
  height: 84px;
  padding-top: 20px;
  width: 215px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
#works {
  min-height: 736px;
}
#works > button {
  margin-bottom: 50px;
}
.conteiner_works {
  margin-top: 67px;
  margin-bottom: 49px;
}
.worksBlock {
  margin-bottom: 89px;
}
@media only screen and (max-width: 640px) {
  .worksBlock {
    margin-bottom: 11px;
  }
}
.worksBlock__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 10%;
  flex: 0 1 10%;
  width: 267px;
  height: 200px;
  position: relative;
}
.worksBlock__item::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.worksBlock__item:hover::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3b3194;
  opacity: 0.5;
  z-index: 1;
}
.worksBlock__item::before {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.worksBlock__item:hover::before {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background: url(../img/works.svg);
  z-index: 2;
  opacity: 1;
}
.conteiner__button_works {
  color: black;
  transition: none;
  position: absolute;
  width: 200px;
  height: 14px;
  right: 0;
}
@media only screen and (max-width: 533px) {
  .conteiner__button_works {
    top: 25px;
  }
}
.conteiner__button_works::before {
  content: "";
  border-top: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  top: 50%;
  right: 0;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(45deg);
}
.conteiner__button_works:hover {
  color: #00e0d0;
}
.conteiner__button_works:hover::before {
  border-top: 1px solid #00e0d0;
  border-right: 1px solid #00e0d0;
}
#peopleSay {
  background: url(../img/overlay_peopleSay.png), url(../img/background_peopleSay.png);
  min-height: 500px;
  background-size: 100%;
  background-size: cover;
}
#slider {
  position: relative;
  width: 740px;
  margin: 0 auto;
  margin-bottom: 70px;
}
@media only screen and (max-width: 1024px) {
  #slider {
    width: auto;
  }
}
.slider__item {
  width: 740px;
  height: 220px;
}
@media only screen and (max-width: 1024px) {
  .slider__item {
    width: auto;
  }
}
.dots {
  height: 70px;
  max-width: 340px;
  margin: auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media only screen and (max-width: 1024px) {
  .dots {
    width: auto;
  }
}
.dots .dots__dot {
  background-size: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dots .dots__dot:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.dots__dot_active {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.dots__dot_1 {
  background: url(../img/employee1.png);
}
.dots__dot_2 {
  background: url(../img/employee2.png);
}
.dots__dot_3 {
  background: url(../img/employee3.png);
}
.dots__dot_4 {
  background: url(../img/employee4.png);
}
.dots__dot_5 {
  background: url(../img/employee5.png);
}
.slider__control {
  position: absolute;
  bottom: 100px;
  width: 10px;
  height: 10px;
  color: #fff;
  text-align: center;
  border-top: 2px solid rgba(250, 250, 250, 0.702);
  border-right: 2px solid rgba(250, 250, 250, 0.702);
}
.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control:hover {
  border-color: #00e0d0;
}
.slider__control_left {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: calc(50% - 200px);
}
.slider__control_right {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: calc(50% - 200px);
}
#contact {
  max-width: 100%;
  overflow: hidden;
}
#contact form {
  width: 430px;
}
@media only screen and (max-width: 640px) {
  #contact form {
    width: 100%;
  }
}
#contact input,
#contact textarea {
  border: 1px solid rgba(0, 0, 0, 0.102);
  width: 430px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 13px;
  margin-bottom: 22px;
}
@media only screen and (max-width: 640px) {
  #contact input,
  #contact textarea {
    width: 100%;
  }
}
#contact input:focus,
#contact textarea:focus {
  border: 1px solid #00e0d0;
  outline: none;
}
#contact input:first-child,
#contact textarea:first-child {
  margin-top: 24px;
}
#contact textarea {
  resize: none;
  height: 171px;
  padding: 13px;
  margin-bottom: 17px;
}
button {
  display: block;
  max-width: 140px;
  min-width: 120px;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  line-height: 1.2;
  text-align: center;
  background-color: transparent;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  padding: 10px 13px 8px 13px;
  margin: 11px auto;
}
button:hover {
  background-color: #00e0d0;
  color: white;
}
button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 224, 208, 0.3);
  box-shadow: 0 0 0 3px rgba(0, 224, 208, 0.3);
}
.submit {
  margin: 0;
}
.conteiner__logo {
  background: url(../img/logo.png) no-repeat;
  width: 130px;
  height: 65px;
  text-align: right;
  margin-bottom: 4px;
}
.conteiner__logo.conteiner__logo_header {
  margin-top: 15px;
  margin-left: 26px;
}
.conteiner__logo span {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 100;
  color: #25C1CE;
}
.conteiner_contacts {
  display: inline-block;
  width: 430px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.conteiner_contacts:not(:first-child) {
  margin-left: 50px;
}
@media only screen and (max-width: 840px) {
  .conteiner_contacts:not(:first-child) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 533px) {
  .conteiner_contacts:not(:first-child) {
    padding-top: 0px;
  }
}
.clients {
  float: left;
  width: 200px;
}
@media only screen and (max-width: 420px) {
  .clients {
    float: none;
    margin: auto;
  }
}
.clients__partner {
  width: 162px;
  z-index: 1000;
  height: 75px;
  margin-right: 65px;
  margin-bottom: 10px;
}
.clients__partner::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.clients__partner:hover::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00e0d0;
  border-radius: 4px;
  opacity: 0.15;
  z-index: 1;
}
.clients__partner a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 840px) {
  .clients__partner {
    margin: auto;
  }
}
@media only screen and (max-width: 533px) {
  .clients__partner {
    width: 120px;
    margin: auto;
  }
}
.clients__partner_01,
.clients__partner_06 {
  margin-top: 11px;
}
@media only screen and (max-width: 533px) {
  .clients__partner_01,
  .clients__partner_06 {
    margin: auto;
  }
}
.clients__partner_05,
.clients__partner_10 {
  margin-bottom: 50px;
}
@media only screen and (max-width: 533px) {
  .clients__partner_05,
  .clients__partner_10 {
    margin: auto;
  }
}
.clients__partner_01 {
  background: url(../img/Zara_Logo.svg.png);
}
.clients__partner_02 {
  background: url(../img/Barneys_New_York_Logo.svg.png);
}
.clients__partner_03 {
  background: url(../img/Calvin_klein_logo.svg.png);
}
.clients__partner_04 {
  background: url(../img/Converse_logo.svg.png);
}
.clients__partner_05 {
  background: url(../img/Levi\'s_logo.svg.png);
}
.clients__partner_06 {
  background: url(../img/Mango_logo.svg.png);
}
.clients__partner_07 {
  background: url(../img/Gucci_Logo.svg.png);
}
.clients__partner_08 {
  background: url(../img/NIKE_logo.svg.png);
}
.clients__partner_09 {
  background: url(../img/Puma_Logo.svg.png);
}
.clients__partner_10 {
  background: url(../img/Billabong.svg.png);
}
@media only screen and (max-width: 533px) {
  .clients__partner_01,
  .clients__partner_02,
  .clients__partner_03,
  .clients__partner_04,
  .clients__partner_05,
  .clients__partner_06,
  .clients__partner_07,
  .clients__partner_08,
  .clients__partner_09,
  .clients__partner_10 {
    background-size: 100%;
  }
}
.point {
  background: url(../img/point.png) no-repeat;
  width: 14px;
  height: 19px;
  float: left;
  margin-right: 14px;
  margin-top: 4px;
}
.phone {
  background: url(../img/phone.png) no-repeat;
  width: 17px;
  height: 17px;
  margin-top: 3px;
  margin-right: 11px;
  float: left;
  margin-bottom: 20px;
}
.conteiner__footer_decor {
  line-height: 1.857;
  font-size: 14px;
  margin-bottom: 15px;
}
.form {
  width: 350px;
  display: inline-block;
  height: 45px;
}
.link {
  background: url(../img/sprite-social.png) no-repeat;
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 23px;
  margin-left: 4px;
}
.link.link_dribbble {
  background-position: -2px -2px;
  width: 35px;
  height: 35px;
}
.link.link_facebook {
  background-position: -41px -2px;
  width: 35px;
  height: 35px;
}
.link.link_gplus {
  background-position: -2px -41px;
  width: 35px;
  height: 35px;
}
.link.link_instagram {
  background-position: -41px -41px;
  width: 35px;
  height: 35px;
}
.link.link_twitter {
  background-position: -80px -2px;
  width: 35px;
  height: 35px;
}
.link.link_youtube {
  background-position: -80px -41px;
  width: 35px;
  height: 35px;
}
.link:hover {
  background-color: #13102D;
}
footer {
  padding-top: 64px;
  background: url(../img/overlay_footer.png), url(../img/background_footer.png);
  background-size: 100%;
  background-size: cover;
  min-height: 350px;
}
footer input[type="email"] {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 13px;
  width: 200px;
  position: relative;
  top: -17px;
  color: white;
}
@media only screen and (max-width: 533px) {
  footer input[type="email"] {
    width: 150px;
  }
}
footer input[type="email"]:focus {
  border: 1px solid white;
  outline: none;
}
footer input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
footer input[type="email"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
footer input[type="email"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
footer input[type="email"]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
footer input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
footer input[type="button"] {
  background: url(../img/paper.png) no-repeat center, rgba(255, 255, 255, 0.5);
  width: 70px;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 4px;
  margin-left: 16px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 2px;
}
footer input[type="button"]:hover {
  background: url(../img/paper.png) no-repeat center, #ffffff;
}
.conteiner__navigation_links {
  min-width: 200px;
  float: left;
}
.conteiner__navigation_links a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.857;
  color: white;
  text-transform: uppercase;
  margin-right: 30px;
}
@media only screen and (max-width: 600px) {
  .conteiner__navigation_links a {
    margin: auto;
  }
}
.conteiner__navigation_links a:hover {
  color: #00e0d0;
}
.conteiner__navigation_copyright {
  float: right;
  width: 220px;
}
.conteiner__navigation_links,
.conteiner__navigation_copyright {
  margin-top: 53px;
}
@media only screen and (max-width: 600px) {
  .conteiner__navigation_links,
  .conteiner__navigation_copyright {
    float: none;
    margin: 25px auto;
    text-align: center;
  }
}
