html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
a {
  position: relative;
  font-size: 12px;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}
a,
button {
  cursor: pointer;
}
a,
p,
.block-skills span {
  font-weight: 300;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: #330066;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  overflow: hidden;
  max-width: 2000px;
  margin: auto;
}
#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #330066;
  z-index: 100;
  overflow: hidden;
}
#loader .loader-item {
  min-width: 800px;
  min-height: 800px;
  border-radius: 50%;
  -webkit-animation-name: loading;
  animation-name: loading;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: infinite;
  animation-timing-function: infinite;
  z-index: 102;
  opacity: 0;
}
#loader .loader-item:nth-child(1) {
  background-color: #5A51B4;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#loader .loader-item:nth-child(2) {
  background-color: #392DB4;
}
#loader .loader-item:nth-child(3) {
  background-color: #473db4;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes loading {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
#svg {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.svg-conteiner {
  -webkit-animation-name: neon;
  animation-name: neon;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.svg-path {
  fill: none;
  stroke-width: 1px;
  stroke: #8df3fb;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  -webkit-animation-name: dash;
  animation-name: dash;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes neon {
  0% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  5% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  7% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  8% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  10% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  11% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  30% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  40% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  100% {
    -webkit-filter: drop-shadow(1px 1px 3px #FFFFFF);
    filter: drop-shadow(1px 1px 3px #FFFFFF);
  }
}
@keyframes neon {
  0% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  5% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  7% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  8% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  10% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  11% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  30% {
    -webkit-filter: drop-shadow(0 0 0 #FFFFFF);
    filter: drop-shadow(0 0 0 #FFFFFF);
  }
  40% {
    -webkit-filter: drop-shadow(0 0 3px #FFFFFF);
    filter: drop-shadow(0 0 3px #FFFFFF);
  }
  100% {
    -webkit-filter: drop-shadow(1px 1px 3px #FFFFFF);
    filter: drop-shadow(1px 1px 3px #FFFFFF);
  }
}
nav {
  position: fixed;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 60px;
  z-index: 50;
}
@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    width: 100vw;
  }
}
nav a {
  text-decoration: none;
  position: relative;
  width: 60px;
  color: #FFFFFF;
  text-align: center;
}
nav a ion-icon {
  font-size: 25px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 10px;
}
nav a::before {
  content: '';
  position: absolute;
  top: 17px;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
nav a:nth-child(1)::before {
  content: 'Home';
  left: 14px;
}
nav a:nth-child(2)::before {
  content: 'Skills';
  left: 12px;
}
nav a:nth-child(3)::before {
  content: 'My work';
  left: 6px;
}
nav a:nth-child(4)::before {
  content: 'Contact';
  left: 5px;
}
nav a:hover ion-icon {
  opacity: 0;
}
nav a:hover::before {
  opacity: 1;
}
nav a.active::before {
  color: #8df3fb;
}
nav a.active ion-icon {
  color: #8df3fb;
}
h1 {
  position: absolute;
  top: calc(50% - 210px);
  left: 200px;
  font-size: 60px;
  font-weight: 100;
  width: 550px;
}
h1 svg {
  width: 770px;
  height: 200px;
}
h1 span {
  display: block;
  font-size: 50px;
}
h1 span span {
  display: inline-block;
  font-size: 40px;
  opacity: 0.8;
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
    width: auto;
    left: 150px;
    top: calc(50% - 166.5px);
  }
  h1 svg {
    width: 630px;
    height: 150px;
  }
  h1 span {
    font-size: 40px;
  }
  h1 span span {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    left: 100px;
    top: calc(50% - 166.5px);
  }
  h1 svg {
    width: 100%;
    height: 100px;
  }
  h1 span {
    font-size: 30px;
  }
  h1 span span {
    font-size: 20px;
  }
}
.swiper-container {
  height: 100vh;
  width: calc(100% - 120px);
  position: relative;
  margin-left: auto;
  margin-right: 30px;
}
@media only screen and (max-width: 600px) {
  .swiper-container {
    width: calc(100% - 40px);
    margin: auto;
  }
}
.swiper-wrapper {
  cursor: default;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.swiper-slide a {
  margin: 40px 0 0 50px;
  -webkit-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  opacity: 0;
  width: 65px;
}
.swiper-slide a:hover {
  -webkit-animation-name: hover-color;
  animation-name: hover-color;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.swiper-slide.swiper-slide-active a {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}
.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active p,
.swiper-slide.swiper-slide-active a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.swiper-slide.swiper-slide-active .swiper-text p {
  opacity: 1;
}
.swiper-slide.swiper-slide-active .swiper-text p:nth-child(2) {
  opacity: 0.8;
}
.swiper-slide.swiper-slide-active .swiper-image {
  filter: brightness(1);
}
@-webkit-keyframes hover-color {
  from {
    color: #FFFFFF;
  }
  to {
    color: #8df3fb;
  }
}
@keyframes hover-color {
  from {
    color: #FFFFFF;
  }
  to {
    color: #8df3fb;
  }
}
.swiper-image {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  filter: brightness(0.5);
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.swiper-image img {
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  -webkit-transform: perspective(2000px) rotateY(25deg);
  transform: perspective(2000px) rotateY(25deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.swiper-image img:hover {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.swiper-image h1 {
  position: relative;
  color: #FFFFFF;
  font-size: 72px;
  -webkit-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  opacity: 0;
  top: 0;
  left: 0;
  padding: 0 0 50px 50px;
}
@media only screen and (max-width: 1024px) {
  .swiper-image h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .swiper-image h1 {
    font-size: 45px;
    padding: 80px 0 30px 25px;
  }
}
.swiper-image-horizontal img {
  width: 100%;
  margin-bottom: 50px;
}
.swiper-image-vertical img {
  max-height: 75vh;
  object-fit: contain;
}
.swiper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(50% - 25px);
}
.swiper-text p {
  max-width: 600px;
  padding: 10px 0 0 50px;
  -webkit-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  opacity: 0;
}
.swiper-text p:nth-child(1) {
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
}
.swiper-text p:nth-child(2) {
  font-size: 14px;
  opacity: 0;
  text-transform: none;
  -webkit-transition-delay: 2.5s;
  -o-transition-delay: 2.5s;
  transition-delay: 2.5s;
}
@media only screen and (max-width: 600px) {
  .swiper-text p:nth-child(2) {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1024px) {
  .swiper-slide-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .swiper-slide-horizontal .swiper-image-horizontal {
    width: 100%;
    height: 50%;
  }
  .swiper-slide-horizontal .swiper-text {
    width: calc(100% - 25px);
    height: 30%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 600px) {
  .swiper-slide-horizontal .swiper-text p {
    padding-left: 20px;
  }
  .swiper-slide-horizontal .swiper-text a {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .swiper-slide-vertical .swiper-text p {
    padding-left: 20px;
  }
  .swiper-slide-vertical .swiper-text a {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .swiper-slide-vertical .swiper-image-vertical {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .swiper-slide-vertical .swiper-image-vertical img {
    max-height: 50vh;
  }
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullets {
  right: 0;
  bottom: calc(50% - 69px);
  cursor: default;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.swiper-pagination-bullet:hover {
  background: #FFFFFF;
}
.swiper-pagination-bullet-active {
  background: #FFFFFF;
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 600px;
  margin-left: 200px;
}
.block h1 {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 10px;
}
.block p {
  white-space: pre-wrap;
  margin: 15px 0 0 0;
  -webkit-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}
.block p:nth-child(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.block p:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.block p:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.block p:nth-child(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.block p:nth-child(5) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.block p:nth-child(6) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.block span {
  opacity: 0.8;
}
.block .block-link {
  font-size: 12px;
  text-transform: uppercase;
}
.block .block-link a {
  color: #8df3fb;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.block .block-link a:hover {
  color: #FFFF33;
}
.block.block-social a {
  font-size: 22px;
  color: #FFFFFF;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  text-transform: none;
  width: 25px;
  height: 25px;
  margin: 35px 10px;
}
.block.block-social a ion-icon {
  font-size: 25px;
}
.block.block-social a:hover {
  color: #8df3fb;
}
.block.block-social div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@media only screen and (max-width: 1024px) {
  .block {
    width: 450px;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .block {
    width: calc(100% - 60px);
    margin: auto;
  }
}
@-webkit-keyframes appearance {
  from {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes appearance {
  from {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
